<p>
  Welcome to Chord Tree. This app will allow you to build a musical chord progression. You don't have to know any theory. Just click the buttons to choose your chords and at the end you can listen to the progression you created!
</p>

<h2> Choose your starting chord </h2>
<button type="button" class="btn btn-success" (click)="goToBranch(1)">C Major</button>
<button type="button" class="btn btn-success" (click)="goToBranch(4)">F Major</button>
<button type="button" class="btn btn-success" (click)="goToBranch(2)">D Minor</button>
